<div class="gray-bg d-inline-block" style="height:100vh;width:100%;background-size: cover; background-repeat: no-repeat; background-image: url('../assets/image/login_background.png')">

  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="card p-4" style="width: 28rem;">
      <img class="card-img-top logo align-self-center" src="assets\image\login_talentify_logo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center font-32">Welcome</h5>
        <div class="d-flex flex-column">


          <input class=" m-2" name="email" type="email" />
          <input class=" m-2" name="password" type="password" />
          <button class="bg-theme white-color p-2" type="button"> Login </button>



        </div>
      </div>
    </div>
  </div>
</div>