/* You can add global styles to this file, and also import other style files */
.bg-theme{
    background: #eb384f !important; 
}

.bg-white{
    background: white !important;
}

.font-32{
    font-size: 2rem !important;
}

.font-12{
    font-size: 0.75rem !important;
}

.font-13{
    font-size: 0.8125rem !important;
}

.font-14{
    font-size: 0.875rem !important;
}

.font-16{
    font-size: 1rem !important;
}

.font-28{
    font-size: 1.75rem !important;
}

.font-weightbold{
    font-weight: bold
}

.footer-size{
    
    font-size: small ;
    text-align: center;
}

.text-muted{
        color: #6c757d!important;
}

.mycontainer {
    padding: 65px 0px 0;
}